venv/
.venv/

SmartExcel/__pycache__/

x/__pycache__/
users/__pycache__/
excel/__pycache__/
excelpremiere/__pycache__/
Tunis/__pycache__/
formulaire/__pycache__/
utils/__pycache__/

x/migrations/
users/migrations/
excel/migrations/
excelpremiere/migrations/
Tunis/migrations/
formulaire/migrations/
