djangorestframework==3.15.2
mysqlclient==2.2.4
django-cors-headers==4.4.0
mysql-connector-python==8.4.0
beautifulsoup4==4.12.3
requests==2.32.3
openpyxl==3.1.5
thefuzz==0.22.1
bidict==0.23.1
pyjwt==2.8.0
django-schema-graph==3.1.0
django-otp==1.5.0 (qr code)
